@use "../../styles/variables" as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}
#dashboard-title{
  color: vars.$cacao;
  margin-bottom: 0;
  font-size: 1em;
  
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
  margin: auto;
}

// 🖥 Desktop : à partir de 768px
@media (min-width: 768px) {
  #dashboard-title {
    font-size: 2em;
  }
  .actions {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
  }
}