@font-face {
  font-family: 'SourceSansPro';
  src: url('../assets/fonts/source-sans-pro.regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../assets/fonts/source-sans-pro.bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../assets/fonts/source-sans-pro.semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../assets/fonts/source-sans-pro.italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../assets/fonts/source-sans-pro.bold-italic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}

html, body {
  font-family: 'SourceSansPro', sans-serif !important; /* Force la priorité */
}