@use "./variables" as vars;

.container .box-custom-form {
  background-color: vars.$ivoire;
  padding: 2rem;
  border: solid 1px vars.$jaune-sable;
  border-radius: 1rem;  
  height: 100%;
  min-height: 400px;
}

form #box-button-profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-profile {
  width: 220px;
}
#is-no-gap {
  gap: 0;
}

@media screen and (min-width: 769px) {
  form #box-button-profile-form {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;    
  }

  .button-profile {
    width: auto;
  }
}