@use "./variables" as vars;

.container .box-custom-form {
  background-color: vars.$ivoire;
  padding: 2rem;
  border: solid 1px vars.$jaune-sable;
  border-radius: 1rem;  
  height: 100%;
  min-height: 400px;
}

.profile-page {
  .box-custom-form {
    @media (max-width: 768px) {
      padding: 1rem; // Réduire le padding pour les petits écrans
      min-height: auto; // Ajuster la hauteur minimale
    }
  }

  @media screen and (max-width: 768px) {
    .uniform-spacing > * {
      margin-bottom: 1rem;
    }

    .uniform-spacing > *:last-child {
      margin-bottom: 0;
    }
  }
}