$ivoire: #FFF7E9 !default;
$bleu: #D4E3FC !default;
$vert-sauge: #ACD7C2 !default;
$peche: #FFB085 !default;
$terre-cuite: #D77D82 !default;
$cannelle: #8B5E3C !default;
$cacao: #603C3C !default;
$beige: #FFE3AE !default;
$jaune-sable: #F0DF87 !default;
$info: #A5D8FF !default;
$vert-printemps: #98E08C !default;
$font-family: 'Ubuntu', sans-serif !default;