$ivoire: #FFF7E9;
$bleu: #D4E3FC;
$vert-sauge: #ACD7C2;
$peche: #FFB085;
$terre-cuite: #D77D82;
$cannelle: #8B5E3C;
$cacao: #603C3C;
$beige: #FFE3AE;
$jaune-sable: #F0DF87;
$info: #A5D8FF;
$vert-printemps: #98E08C;