@charset "utf-8";

@use './variables' as vars;
@use './fonts' as fonts;

@use "bulma/sass/utilities" with ($family-primary: fonts.$font-family,
  $family-secondary: fonts.$font-family,
  $family-code: fonts.$font-family,
  $primary: vars.$cannelle,
  $link: vars.$beige,
  $info: vars.$info,
  $success: vars.$vert-printemps,
  $warning: vars.$jaune-sable,
  $danger: vars.$terre-cuite,
  $text: vars.$cacao,
  $text-strong: vars.$cacao,
  $scheme-main: vars.$ivoire,
  $shadow-color: vars.$cacao,
);

@use "bulma/bulma";

html,
body {
  background-color: #FFFFF9;
}

.content {
  margin-bottom: 0 !important;

  ul {
    list-style: none;
  }
}

.Toastify__toast {
  width: auto;
}

:root {
  --toastify-color-info: #A5D8FF;
  --toastify-color-success: #98E08C;
  --toastify-color-warning: #F0DF87;
  --toastify-color-error: #D77D82;
  height: 100%;
}

.bg-ivoire {
  background-color: vars.$ivoire;
}

.legal-page {
  max-width: 700px !important;
}

.has-margin-top {
  margin: 3.5rem auto !important;
}

.back-link {
  font-size: 1.25rem;
  color: vars.$cannelle;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.2s;
  width: fit-content;

  &:hover {
    color: vars.$peche;
  }
}

.img-max-height-400 {
  max-height: 400px;
  width: auto;
}
