@charset "utf-8";

@use './variables' as vars;

@use "bulma/sass/utilities" with (
$primary: vars.$cannelle,
$link: vars.$beige,
$info: vars.$info,
$success: vars.$vert-printemps,
$warning: vars.$jaune-sable,
$danger: vars.$terre-cuite,
$text: vars.$cacao,
$text-strong: vars.$cacao,
$scheme-main: vars.$ivoire,
$shadow-color: vars.$cacao
);

@use "bulma/bulma";
@use '../pages/auth/LoginPage.scss';

html, body {
  background-color: #FFFFF9;  
  // height: 100%;
}

.Toastify__toast {
  width: auto;
}

:root {
  --toastify-color-info: #A5D8FF;
  --toastify-color-success: #98E08C;
  --toastify-color-warning: #F0DF87;
  --toastify-color-error: #D77D82;
    height: 100%;
}
.bg-ivoire {
  background-color: vars.$ivoire; }