@use "../../styles/variables" as *;

.public-layout {
  display: flex;
  flex-direction: column; 
  height: 100vh; 
  background-color: $ivoire;
}
.main-public {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
