.charts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  &.mobile {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.pie-wrapper {
  width: 100%;
  max-width: 425px;
  height: 280px;
  position: relative;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 90%;
    height: 200px;
  }
}

.doughnut-wrapper {
  width: 100%;
  max-width: 490px;
  height: 280px;
  position: relative;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 90%;
    height: 205px;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}