@use '../../styles/variables' as vars;

// Styles communs pour les boutons
.button.is-update,
.button.is-delete {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  border: none;

  .icon {
    color: vars.$cacao;
    font-size: 1em;
    vertical-align: middle;
  }
}

.is-home {
  min-width: 150px;
}

// Bouton "Modifier"
.button.is-update {
  transition: transform 0.2s ease-in-out;
  background-color: rgb(191, 217, 226); // Équivalent RGB de vars.$bleu (#D4E3FC)
  color: vars.$cacao;

  &:hover {
    transform: scale(1.05);
    background-color: rgb(191, 217, 226, 0.8); // Même couleur avec opacité à 80%
  }
}

// Bouton "Supprimer"
.button.is-delete {
  transition: transform 0.2s ease-in-out;
  background-color: rgb(240, 188, 192); 
  color: vars.$cacao;

  &:hover {
    transform: scale(1.05);
    background-color: rgb(240, 188, 192, 0.8);
  }
}

.button.is-expense {
  transition: transform 0.2s ease-in-out;
  background-color: vars.$peche;
  color: vars.$cacao;

  &:hover {
    transform: scale(1.05);
    background-color: #FF965E;
  }
}

.button.is-budget {
  transition: transform 0.2s ease-in-out;
  background-color: vars.$vert-sauge;
  color: vars.$cacao;

  &:hover {
    transform: scale(1.05);
    background-color: #83D9B0;
  }
}

// 🖥 Desktop : à partir de 768px
@media (min-width: 768px) {
  .button.is-expense,
  .button.is-budget {
    min-width: 160px;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.profile-page {
  // Styles pour les boutons en version mobile
  @media (max-width: 768px) {
    .button {
      width: 100%; // Les boutons occupent toute la largeur
      margin: auto; // Espacement entre les boutons
    }

    .buttons {
      flex-direction: column; // Les boutons s'empilent verticalement
      align-items: center; // Centrer les boutons
    }

    .columns {
      flex-direction: column; // Les colonnes s'empilent verticalement
      align-items: center; // Centrer les colonnes
    }
  }
}